######################################################################
## Filename:      .gitignore
## Version:       
##                
## Author:        Bright Pan <loststriker@gmail.com>
## Created at:    Tue Mar 29 09:32:13 2011
##                
##                
## Modified by:   Bright Pan <loststriker@gmail.com>
## Modified at:   Tue Apr 12 17:12:59 2011
##                
## Description:   
## Copyright (C) 2010-2011,  Bright Pan
######################################################################

*~
*#
*.o
*.bin
*.elf
*.out
*.log
*.in
*.guess
*.sub
*.m4
install-sh
ltmain.sh
configure
missing
depcomp
m4/
autom4te.cache/
build/
